<ion-header>
  <ion-toolbar>
    <ion-title id="title">
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item [routerLink]="['/direct-messages']">
      <ion-avatar slot="start">
        <img src="https://images.pond5.com/close-mans-profile-sunny-day-footage-080799516_iconl.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Dandral Photo Booth</h3>
        <p>Thank you for booking us! Would you also be interested in</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/direct-messages']">
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/proxy/7iiUjAkT4u8fTOsJ40z1Hnyv5LudJSqe2T_a66RcLqWwxBm-Ux4vFCkMQfINODSoR05HjOgej6UQ-Wjab8Z41Rk">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>DJ Hanzo</h3>
        <p>Please let me know if you have any song reccommendations. </p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/direct-messages']">
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/1080213/pexels-photo-1080213.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>Rey Balloons</h3>
        <p>What type of balloons would you be interested in having?</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/messages']">
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1OiNaSSrnNfaI6dt9z6OBmf3Vpx3xwLGZpCn8AT6dzQjgL9oHa4a1EWJ8Yv1R_vtyoV0&usqp=CAU">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Chair Supply</h3>
        <p>How many people are you expecting at the party?</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
