.filterDropdown {
    border-radius: 12px;
    width: 29%;
    height: 45px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 65%;
}
.recommendCard {
    height: 200px;
    width: 90%;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 6px;
    border-radius: 12px;
}
.categoriesSpace {
    text-align: center;
    margin-top: 5px;
}
.categoryCardImg {
    height: 90px;
    width: 40%;
    display: inline-block;
    margin-top: 20px;
    border-radius: 12px;
}
.categoryCardImgR {
    margin-left: 10%;
}
.catInfoSpace {
 text-align: left;
 margin-top: 7px;
}
.catCardSubtitle {
    font-size: 15px;
    font-weight: 550;
    margin-left: 5%;
}
.catCardTitle {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 3px;
}
.catCardRating {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 3px;
}