ion-toolbar {
    --background: #ff3011;
    height: 117px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
ion-list {
    background-color: #ffffff;
}
ion-list-header {
    color: #000000;
}
ion-item {
    --background: #ffffff;
    color: #000000;
}
p {
    color: #7a7a7a
}