<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signinpage"></ion-back-button>
      </ion-buttons>
    <ion-title>
      (appName)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="space">
  <ion-card [routerLink]="['/tabs/tab2']" class="categoryCard">
    <img class="cardImg" src="https://lh3.googleusercontent.com/proxy/7rjL3z_79RmFrNWr69w14aEoeF-r65ImaSyZIjTtqFy3AOkEJ2qNK6oKRCrSgdjzXBLQyaPmTPkVrWuZqeaR6J0XpBRUmUvwXuM" />
      <div class="cardTxt">Audio</div>
  </ion-card>
  <ion-card class="categoryCard">
    <img class="cardImg" src="https://lh3.googleusercontent.com/proxy/7rjL3z_79RmFrNWr69w14aEoeF-r65ImaSyZIjTtqFy3AOkEJ2qNK6oKRCrSgdjzXBLQyaPmTPkVrWuZqeaR6J0XpBRUmUvwXuM" />
      <div class="cardTxt">Catering</div>
  </ion-card>
  <ion-card class="categoryCard">
    <img class="cardImg" src="https://lh3.googleusercontent.com/proxy/7rjL3z_79RmFrNWr69w14aEoeF-r65ImaSyZIjTtqFy3AOkEJ2qNK6oKRCrSgdjzXBLQyaPmTPkVrWuZqeaR6J0XpBRUmUvwXuM" />
      <div class="cardTxt">Entertainment</div>
  </ion-card>
  </div>
    <div class="recommendHeader">
      Best Selling
    </div>
  <div class="categoriesSpace">
    <ion-card [routerLink]="['/tabs/tab3']" class="recommendCard">
      <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
    </ion-card>
    <ion-card class="recommendCard">
      <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
    </ion-card>
    <div class="categorySpaceSmal">
      <ion-card class="recommendCardSmal">
        <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
      </ion-card>
      <ion-card class="recommendCardSmal">
        <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
      </ion-card>
      <ion-card class="recommendCardSmal">
        <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
      </ion-card>
    </div>
  </div>
  <div class="recommendHeader">
    Your Favorites
  </div>
<div class="categoriesSpace">
  <ion-card class="recommendCard">
    <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
  </ion-card>
  <ion-card class="recommendCard">
    <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
  </ion-card>
</div>
<div class="recommendHeader">
  Recently Viewed
</div>
<div class="categoriesSpace">
<ion-card class="recommendCard">
  <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
</ion-card>
<ion-card class="recommendCard">
  <img src="https://www.bhphotovideo.com/images/images500x500/Savage_58_12_107_x_12yds_Background_45551.jpg" />
</ion-card>
</div>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
