ion-toolbar {
    --background: #ff3011;
    height: 117px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#title {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    position: absolute;
}
#audioTitle {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    display: none;
    position: absolute;
}
.catHeader {
    color: #000000;
    margin-top: 24px;
    margin-left: 6%;
    font-size: 20px;
    font-weight: 600;
}
.categoryTabs {
    margin-top: 22px;
    color: #000000;
    height: 100px;
}
.categoryButton {
    color: #000000;
    height: 100px;
    margin-left: 5%;
    width: 27%;
    background-color: #ffffff;
    border-color: #000000;
    border: 1px solid;
    border-radius: 11px;

}
.buttonIcon {
    display: block;
    margin-left: 37%;
    height: 25px;
    width: 25%;
}
.recommendHeader{
    margin-left: 6%;
    margin-top: 30px;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}
.recommendCard {
    height: 140px;
    width: 90%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}
.toProfileButton {
    margin-left: 80%;
    background-color: #ff3011;
    height: 40px;
    width: 13%;
    margin-top: 35px;
    text-align: center;
}
.profileIcon {
    height: 100%;
    width: 100%;
}
#button1:focus {
    background-color: #ff3011;
}
#audioRecommended {
    display: none;
}