<ion-header>
  <ion-toolbar>
    <ion-title id="title">
      5StarParty
    </ion-title>
    <ion-title id="audioTitle">
      Photography
    </ion-title>
    <button [routerLink]="['/profile']" class="toProfileButton"><ion-icon class="profileIcon" name="person-circle-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="catHeader">Categories</div>
  <div class="categoryTabs">
    <button (click)="myFunction()" class="categoryButton" id="button1"><ion-icon class="buttonIcon" name="camera-outline"></ion-icon>Photography</button>
    <button class="categoryButton" id="button2"><ion-icon class="buttonIcon" name="beer-outline"></ion-icon>Bartender</button>
    <button class="categoryButton" id="button3"><ion-icon class="buttonIcon" name="radio-outline"></ion-icon>DJ</button>
  </div>
  <div id="recommended">
    <div class="recommendHeader">
      Near You
    </div>
    <ion-slides>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://bartendersbusiness.com/en/articles/images/w/1200/BartendersBusiness-01222019060923000000-5c46b393188eb.jpg" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card [routerLink]="['/service-profile']" class="recommendCard">
          <img src="https://images.squarespace-cdn.com/content/v1/57bc877fc534a51bf90877bc/1500934065354-F88APZASA688PP9GF69A/booth+5.jpg" />
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="recommendHeader">
      Your Favorites
    </div>
    <ion-slides>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://i.ytimg.com/vi/nCIgTn-7y8E/maxresdefault.jpg" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div id="audioRecommended">
    <div class="recommendHeader">
      Near You
    </div>
    <ion-slides>
      <ion-slide>
        <ion-card [routerLink]="['/service-profile']" class="recommendCard">
          <img src="https://images.squarespace-cdn.com/content/v1/57bc877fc534a51bf90877bc/1500934065354-F88APZASA688PP9GF69A/booth+5.jpg" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://ae01.alicdn.com/kf/HTB1PZ3YcYGYBuNjy0Foq6AiBFXa3/FENGRISE-30th-40th-50th-60th-Photo-Booth-Frame-Happy-Birthday-Photobooth-Props-Baby-1st-Birthday-Party.jpg" />
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="recommendHeader">
      Your Favorites
    </div>
    <ion-slides>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://ae01.alicdn.com/kf/HTB1PZ3YcYGYBuNjy0Foq6AiBFXa3/FENGRISE-30th-40th-50th-60th-Photo-Booth-Frame-Happy-Birthday-Photobooth-Props-Baby-1st-Birthday-Party.jpg" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="recommendCard">
          <img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
