<ion-header>
  <ion-toolbar>
    <ion-title id="title">
      Booked
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recommendHeader">
    08/08/2021
  </div>
  <ion-slides>
    <ion-slide>
      <ion-card class="recommendCard">
        <img src="https://bartendersbusiness.com/en/articles/images/w/1200/BartendersBusiness-01222019060923000000-5c46b393188eb.jpg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [routerLink]="['/service-profile']" class="recommendCard">
        <img src="https://images.squarespace-cdn.com/content/v1/57bc877fc534a51bf90877bc/1500934065354-F88APZASA688PP9GF69A/booth+5.jpg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="recommendHeader">
    01/18/2021
  </div>
  <ion-slides>
    <ion-slide>
      <ion-card class="recommendCard">
        <img src="https://i.ytimg.com/vi/nCIgTn-7y8E/maxresdefault.jpg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="recommendCard">
        <img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
