.profileCard {
    height: 270px;
    width: 90%;
    margin-left: 5%;
}
.profileTitle {
    margin-top: 5%;
    margin-left: 6%;
    font-size: 20px;
    font-weight: 700;
}
.profileSubTitle {
    margin-left: 6%;
    font-size: 15px;
    font-weight: 400;
}
.profileImg {
    width: 90%;
    height: 180px;
    margin-left: 6%;
    margin-top: 10px;
    border-radius: 12px;
}
.profileButton {
    height: 60px;
    width: 28%;
    margin-left: 5%;
    border-radius: 12px;
    font-size: 17px;
}
.proButtonRight {
    margin-left: 3%;
}
.profileDescr {
    color: black;
    margin-left: 6%;
    margin-top: 10px;
}
.descrLocation {
    font-size: 25px;
    font-weight: 500;
}
.descrDescr {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}