<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <img class="profileImg" src="https://ae01.alicdn.com/kf/HTB1PZ3YcYGYBuNjy0Foq6AiBFXa3/FENGRISE-30th-40th-50th-60th-Photo-Booth-Frame-Happy-Birthday-Photobooth-Props-Baby-1st-Birthday-Party.jpg"/>
  <div class="profileDescrL">
    <div class="profileTitle">Photo Booth</div>
    <div class="descrLocation"><ion-icon name="location-outline"></ion-icon>Tomato Town</div>
  </div>
  <div class="profileDescrR">
    <div class="priceTitle">Price Per Hour</div>
    <div class="price">$100</div>
  </div>
    <div class="descrDescr"> I provide photobooths for your party! Get the best booths and best props! I have been in the industry for blah blah blah</div>
  <div class="buttonSpace">
    <button [routerLink]="['/messages']" class="profileButton" type="button">Message</button>
    <button [routerLink]="['/set-date-booking']"class="profileButton proButtonRight" type="button">Book Now</button>
  </div>
  <!-- <ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/tab2']">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab1']">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Checkout">
      <ion-icon name="square"></ion-icon>
      <ion-label>Checkout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->
</ion-content>
