<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="title">
      Photo Booth
    </ion-title>
    <button [routerLink]="['/profile']" class="toProfileButton"><ion-icon class="profileIcon" name="person-circle-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-buttons>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons> -->
  <img class="profileImg" src="https://images.squarespace-cdn.com/content/v1/57bc877fc534a51bf90877bc/1500934065354-F88APZASA688PP9GF69A/booth+5.jpg"/>
  <div class="profileDescrL">
    <div class="profileTitle">Photo Booth</div>
    <div class="descrLocation"><ion-icon name="location-outline"></ion-icon>Tomato Town</div>
  </div>
  <div class="profileDescrR">
    <div class="priceTitle">Price Per Hour</div>
    <div class="price">$100</div>
  </div>
    <div class="descrDescr"> I provide photobooths for your party! Get the best booths and best props! I have been in the industry for 7 years and know what it takes to bring you the best party!</div>
  <div class="buttonSpace">
    <button [routerLink]="['/direct-messages']" class="profileButton" type="button">Message</button>
    <button [routerLink]="['/booked']" class="profileButton proButtonRight" type="button">Book Now</button>
  </div> -->

</ion-content>
