ion-toolbar {
    --background: #ff3011;
    height: 117px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
.toProfileButton {
    margin-left: 80%;
    background-color: #ff3011;
    height: 60px;
    width: 20%;
    margin-top: 35px;
    text-align: center;
}
.profileIcon {
    height: 100%;
    width: 100%;
}
.profileCard {
    height: 270px;
    width: 90%;
    margin-left: 5%;
}
.profileTitle {
    font-size: 20px;
    font-weight: 700;
}
.priceTitle {
    font-size: 15px;
    font-weight: 400;
}
.price {
    font-size: 20px;
    font-weight: 700;
}
.profileImg {
    width: 90%;
    height: 180px;
    margin-left: 6%;
    margin-top: 10px;
    border-radius: 12px;
}
.profileButton {
    margin-top: 270px;
    height: 55px;
    width: 45%;
    margin-left: 5%;
    border-radius: 12px;
    font-size: 17px;
    background-color: #f0f0f0;
    color: #505050;
}
.proButtonRight {
    margin-left: 3%;
    background-color: #ff3011;
    color: #ffffff;
}
.profileDescrL {
    color: black;
    margin-left: 6%;
    margin-top: 10px;
    display: inline-block;
}
.profileDescrR {
    color: black;
    margin-left: 30%;
    margin-top: 10px;
    display: inline-block;
}
.descrLocation {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 400;
}
.descrDescr {
    font-size: 17px;
    font-weight: 500;
    margin-left: 6%;
    font-weight: 400;
    margin-top: 10px;
    color: #000000;
}