<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>messages</ion-title> -->
    <ion-icon class="msgIcon" name="chatbubbles-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let blog of blogs">
      <ion-label>
        <p class="msgText">{{blog}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="txtSpace">
    <ion-item class="txtBar">
      <!-- <ion-label position="stacked">Textarea</ion-label> -->
      <ion-textarea [(ngModel)] = "currentInput" placeholder="placeholder"></ion-textarea>
    </ion-item>
  
    <button class="txtSendButton" expand="full" color="secondary" (click) = "addBlog()">Add Blog</button>
    <!-- <form>
      <input [(ngModel)] = "currentInput" placeholder="placeholder" class="txtBar" type="text">
    </form> -->
    <!-- <button (click) = "addBlog()" class="txtSendButton" type="submit">Send</button> -->
  </div>
</ion-content>
