ion-toolbar {
    --background: #ff3011;
    height: 117px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.pfpTitle {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
.pfpImg {
    height: 140px;
    width: 40%;
    margin-left: 3%;
    border-radius: 100px;
}
.pfpEdit {
    width: 51%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 7px;
    color: #676767; 
}
.pfpInfoSpace {
    margin-top: 10px;
    margin-left: 6%;
    color: #676767;
}
.pfpInfoDisplay {
    background-color: #f0f0f0;
    width: 90%;
    height: 25px;
    margin-top: 2px;
    border-radius: 7px;
    text-align: center;
}
.pfpSwitch {
    width: 51%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 7px;
    color: #676767; 
    margin-left: 25%;
    margin-top: 25px;
}