.msgIcon {
    height: 35px;
    width: 35%;
    margin-left: 23%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.txtBar {
    // margin-top: 155%;
    position: absolute;
    bottom: 5px;
    height: 53px;
    width: 93%;
    margin-left: 4%;
    border-radius: 12px;
    background-color: #eaeaea;
}
.txtSendButton {
    position: absolute;
    bottom: 5px;
    height: 39px;
    width: 11%;
    margin-left: 6%;
    border-radius: 30px;
    display: inline-block;
    background-color: #ff3011;
}
.txtSendButtonL {
    margin-left:10px;
    position: absolute;
    bottom: 5px;
    height: 39px;
    width: 11%;
    border-radius: 30px;
    display: inline-block;
    background-color: #ff3011;
}
.txtSendButtonLT {
    margin-left:10px;
    position: absolute;
    bottom: 5px;
    margin-left: 16%;
    height: 39px;
    width: 11%;
    border-radius: 30px;
    display: inline-block;
    background-color: #ff3011;
}
.txtInput {
    // position: absolute;
    // bottom: 5px;
    width: 48%;
    height: 50px;
    margin-left: 31%;
    display: inline-block;
    --background: #eaeaea;
    color: #7a7a7a;
}
.msgText {
    color: #7a7a7a;
    padding-top:10px;
    padding-left: 15px;
}
.txtBubbles {
    background-color: #eaeaea;
    width: 100px;
    margin-left: 70%;
    vertical-align:middle;
    height: 50px;
    border-radius: 8px;
}
ion-toolbar {
    --background: #ff3011;
    height: 117px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#input{
    margin-top: 9%;
}